@import "~@fortawesome/fontawesome-free/css/all.css";

.mat-primary {
  background-color: #1b2437;
  color: #eb2040;
}

.content{
  padding: 20px;
  background-color: #E2E2E3;
}

.footer{
  background-color: #1B2437;
  color: white;
}
