.new-button {
  top: -30px;
  background: #eb2040;
  margin-bottom: -10px;
  color: white;
}

.form{
  margin-top: 10px;
  text-align: center
}

.save-button{
  background: #48c569;
  color: white;
}

.cancel-button{
  background: #eb2040;
  color: white;
}
